// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500,500i,700,700i|Roboto+Slab:400,700');

// Variables
@import 'variables';

@import "~bulma";

#app, .content, body, html {
    overflow-y: auto !important;
}

.navbar-brand {
    font-weight: 700;
    font-family: $font-family-serif;
}

#env-indicator {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 3px;
    z-index: 100;
}

#env-indicator.local {
    background-color: $blue;
}

#env-indicator.staging,
#env-indicator.dev {
    background-color: $pink;
}

#env-indicator.production {
    display: none !important;
}

// ADD A
#version-badge {
    font-size: 0.20em !important;
}

.links a {
    display: inline-block;
    margin: auto 1em;
}

// Scrollbars
::-webkit-scrollbar {
    width: 6px;
    background-color: $light;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    z-index: 2;
}

